body{
   
    text-align: center;
}


.input{
    width: 365px;
    height: 60px;
    font-size: 25px;
    font-family: cursive;
}
.topmost-row{
    margin-top: 20px;
}

.button{
    margin: auto;
    display: block;
    text-align: center;
  
}

.btn{
    margin-top: 10px;
    width: 90px;
    height: 90px;
    background-color: orange;
    /*border: 1px solid black;*/
    
}

.btn:active{
    font-size: 12px;
}

.zero-row{
    display: inline-block;

}

.btn-0{
    width: 280px;  
    align-items: left;
    
}

